<style>
  *{margin:0;box-sizing:border-box;}
  body{display:flex;flex-direction:column;align-items:center;position:relative;min-width:350px;min-height:100vh;color:#222;font-size:1rem;font-family:-apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,Helvetica,Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol";line-height:1.5;}
  h1{margin-bottom:2rem;font-size:2.4rem;opacity:0.7;}
  p{letter-spacing:0.05rem;margin:1rem 0;}
  a{color:#06e;text-decoration:none;}
  a:hover{text-decoration:underline;}
  .leading-emoji{margin-right:0.25rem;}
  #home{margin:10vh auto;padding:1rem;}
  #home div{margin-top:2.5rem;}
  #home h2{margin-bottom:.33rem;opacity:0.7;font-size:.7rem;font-weight:500;letter-spacing:.1rem;}
  #home em{opacity:0.6;}
  #home .link{display:inline-block;margin-right:0.4rem;font-size:.9rem;letter-spacing:0.025rem;}
</style>
