{{ define "main" }}
  <main id="home">
    <h1>{{ .Title }}</h1>

    {{ .Content }}

    {{ if .Params.links }}
      <div>
        {{ with .Params.linksHeader }}<h2>{{ . }}</h2>{{ end }}
        {{ range $link := .Params.links }}
          <span class="link">
            <span class="leading-emoji">{{ $link.emoji | emojify }}</span><a href="{{ $link.ref }}" target="_blank" rel="noopener noreferrer">{{ $link.title }}</a>
          </span>
        {{ end }}
      </div>
    {{ end }}
  </main>
{{ end }}
